@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Special+Elite&family=Shadows+Into+Light&family=Amatic+SC&family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
